<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grand.homepage.mapper.HpMapper">
	<resultMap id="BaseMap" type="com.grand.homepage.entity.HpEntity">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="TITLE" property="title" jdbcType="VARCHAR"/>
		<result column="AUTHOR" property="author" jdbcType="VARCHAR"/>
		<result column="CRAETETIME" property="createTime" jdbcType="VARCHAR"/>
		<result column="PICNAME" property="picName" jdbcType="VARCHAR"/>
		<result column="PICTURE" property="picture"/>
		<result column="MODIFYTIME" property="modifyTime" jdbcType="VARCHAR"/>
		<result column="TYPE" property="type" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="getlistHp" parameterType="map" resultMap="BaseMap">
		SELECT * FROM HOMEPAGE
		<where>
			<if test="title != null and  title != '' ">
                TITLE LIKE '%' || #{title} || '%'
            </if>
			<if test="author != null and  author != '' ">
                AUTHOR LIKE '%' || #{author} || '%'
            </if>
			<if test="createTime != null and  createTime != '' ">
                CREATETIME &gt;= to_date(#{createTime},'yyyy-mm-dd')
            </if>
			<if test="picName != null and  picName != '' ">
                PICNAME LIKE '%' || #{picName} || '%'
            </if>
		</where>
	</select>
	
	<insert id="addHp" parameterType="com.grand.homepage.entity.HpEntity">
		INSERT INTO HOMEPAGE VALUES(
		SEQ_HOMEPAGE.nextval,
		#{title},
		#{author,jdbcType=VARCHAR},
		to_date(#{createTime,jdbcType=VARCHAR},'yyyy-MM-dd'),
		#{picture},
		#{picName},
		#{status,jdbcType=VARCHAR},
		to_date(#{modifyTime,jdbcType=VARCHAR},'yyyy-MM-dd'),
		#{type,jdbcType=VARCHAR}
		)
	</insert>
	
	
	<select id="getHpById" parameterType="String" resultMap="BaseMap">
		SELECT * FROM HOMEPAGE WHERE ID=#{id}
	</select>
	
</mapper>